## Group 14C - Fake News Detector Project

---




---


AI4ALL Ignite - Fall 2024 : Wynne Conger, Nina Elmoyan, Ramneek Kaur, Rhode Sanchez

In [10]:
import pandas as pd
from pathlib import Path

import numpy as np

import nltk
nltk.download('punkt')
nltk.download('stopwords')
nltk.download('punkt_tab')
nltk.download('vader_lexicon')

[nltk_data] Downloading package punkt to
[nltk_data]     /Users/ninaelmoyan/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/ninaelmoyan/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt_tab to
[nltk_data]     /Users/ninaelmoyan/nltk_data...
[nltk_data]   Package punkt_tab is already up-to-date!
[nltk_data] Downloading package vader_lexicon to
[nltk_data]     /Users/ninaelmoyan/nltk_data...

True

For this project, we are using two .csv files: fake.csv and true.csv

In [2]:
df_fake = pd.read_csv(Path("Dataset") / "Fake.csv")
df_true = pd.read_csv(Path("Dataset") / "True.csv")

display(df_fake.head())
display(df_true.head())

,title,text,subject,date
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017"
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017"
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017"
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017"
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017"

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017"
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017"
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017"
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017"
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017"

Adding a 'label' column to df_fake and df_true: fake = 0 and true = 1

In [3]:
df_fake['label'] = 0
df_true['label'] = 1

display(df_fake.head())
display(df_true.head())

,title,text,subject,date,label
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",0
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",0
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",0
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",0
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",0

,title,text,subject,date,label
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017",1
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017",1
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017",1
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017",1
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017",1

Next Steps: do correlation analysis to test whether we should keep the date column or not

Identifiers of Fake News: (Nina)

<ol>
<li> Number of words: Fake news has fewer words on average than real news </li>
<li> Question marks: Fake news has more question marks </li>
<li> Mood / Negativity of text: Fake news is more negative </li>
<li> Opposition words: True texts contain more objections and oppositions </li>
<li> Pronouns: ("you", "they") of true news vs. ("I" and "we") of fake news </li>
<li> Lexical Diversity: more lexical diversity in real news than in fake news</li>
</ol>

In [ ]:
# 1. Testing number of words - confirmed !

df_fake['word_count'] = df_fake['text'].apply(lambda x: len(nltk.word_tokenize(x)))
df_true['word_count'] = df_true['text'].apply(lambda x: len(nltk.word_tokenize(x)))

avg_fake_words = df_fake['word_count'].mean()
avg_true_words = df_true['word_count'].mean()

print(f"Average words in fake news: {avg_fake_words:.2f}")
print(f"Average words in true news: {avg_true_words:.2f}")

Average words in fake news: 470.04
Average words in true news: 435.25

In [ ]:
# 2. Testing question marks - confirmed !
df_fake['question_marks'] = df_fake['text'].apply(lambda x: x.count('?'))
df_true['question_marks'] = df_true['text'].apply(lambda x: x.count('?'))

avg_fake_qm = df_fake['question_marks'].mean()
avg_true_qm = df_true['question_marks'].mean()

print(f"Average question marks in fake news: {avg_fake_qm:.2f}")
print(f"Average question marks in true news: {avg_true_qm:.2f}")

Average question marks in fake news: 1.21
Average question marks in true news: 0.10

In [11]:
# 3. Testing mood / negativity of text

from nltk.sentiment import SentimentIntensityAnalyzer
sia = SentimentIntensityAnalyzer()
df_fake['negativity'] = df_fake['text'].apply(lambda x: sia.polarity_scores(x)['neg'])
df_true['negativity'] = df_true['text'].apply(lambda x: sia.polarity_scores(x)['neg'])

avg_fake_neg = df_fake['negativity'].mean()
avg_true_neg = df_true['negativity'].mean()

print(f"Average negativity in fake news: {avg_fake_neg:.2f}")
print(f"Average negativity in true news: {avg_true_neg:.2f}")

Average negativity in fake news: 0.09
Average negativity in true news: 0.08

In [ ]:
# 4. Testing opposition words - not confirmed

opposition_words = {'but', 'however', 'although', 'though', 'yet', 'nevertheless', 'nonetheless', 'despite', 'instead'}
df_fake['opposition_count'] = df_fake['text'].apply(lambda x: sum(1 for word in nltk.word_tokenize(x.lower()) if word in opposition_words))
df_true['opposition_count'] = df_true['text'].apply(lambda x: sum(1 for word in nltk.word_tokenize(x.lower()) if word in opposition_words))

avg_fake_opp = df_fake['opposition_count'].mean()
avg_true_opp = df_true['opposition_count'].mean()

print(f"Average opposition words in fake news: {avg_fake_opp:.2f}")
print(f"Average opposition words in true news: {avg_true_opp:.2f}")

Average opposition words in fake news: 2.09
Average opposition words in true news: 1.79

In [15]:
# 5. Testing pronouns: ("you", "they") of true news vs. ("I" and "we") of fake news

first_person_pronouns = {'i', 'we', 'me', 'us', 'my', 'our', 'mine', 'ours'}
second_third_person_pronouns = {'you', 'he', 'she', 'they', 'him', 'her', 'them', 'your', 'his', 'its', 'their', 'yours', 'theirs'}

def count_pronouns(text):
    first_person_count = 0
    second_third_person_count = 0
    words = nltk.word_tokenize(str(text).lower())
    for word in words:
        if word in first_person_pronouns:
            first_person_count += 1
        elif word in second_third_person_pronouns:
            second_third_person_count += 1
    return pd.Series([first_person_count, second_third_person_count])

df_fake[['first_person_count', 'second_third_person_count']] = df_fake['text'].apply(count_pronouns)
df_true[['first_person_count', 'second_third_person_count']] = df_true['text'].apply(count_pronouns)

avg_fake_fp = df_fake['first_person_count'].mean()
avg_fake_stp = df_fake['second_third_person_count'].mean()

avg_true_fp = df_true['first_person_count'].mean()
avg_true_stp = df_true['second_third_person_count'].mean()

print(f"Average first-person pronouns in fake news: {avg_fake_fp:.2f}")
print(f"Average second/third-person pronouns in fake news: {avg_fake_stp:.2f}")
print("-" * 30)
print(f"Average first-person pronouns in true news: {avg_true_fp:.2f}")
print(f"Average second/third-person pronouns in true news: {avg_true_stp:.2f}")

Average first-person pronouns in fake news: 5.63
Average second/third-person pronouns in fake news: 14.99
------------------------------
Average first-person pronouns in true news: 2.52
Average second/third-person pronouns in true news: 9.20

--> Room for analysis: Why are there more pronouns in fake news? Because it is less specific

In [17]:
# 6. Testing lexical diversity

def lexical_diversity_optimized(text):
    """
    Calculates lexical diversity, focusing only on alphabetic words.
    This provides a more accurate measure of vocabulary richness by ignoring punctuation.
    """
    # 1. Tokenize and convert to lower case
    tokens = nltk.word_tokenize(str(text).lower())
    
    # 2. OPTIMIZATION: Filter for alphabetic words only
    words = [word for word in tokens if word.isalpha()]
    
    # 3. Handle the edge case of no words being found
    if len(words) == 0:
        return 0
        
    # 4. Calculate diversity using the cleaned word list
    unique_words_count = len(set(words))
    total_words_count = len(words)
    
    return unique_words_count / total_words_count

# --- Apply the optimized function to your DataFrames ---
df_fake['lexical_diversity'] = df_fake['text'].apply(lexical_diversity_optimized)
df_true['lexical_diversity'] = df_true['text'].apply(lexical_diversity_optimized)

# --- Calculate and print the results ---
avg_fake_lex_div = df_fake['lexical_diversity'].mean()
avg_true_lex_div = df_true['lexical_diversity'].mean()

print(f"Average lexical diversity in fake news: {avg_fake_lex_div:.2f}")
print(f"Average lexical diversity in true news: {avg_true_lex_div:.2f}")

Average lexical diversity in fake news: 0.56
Average lexical diversity in true news: 0.58

In [ ]:
# --- Statistical Testing for Lexical Diversity --- I used Gemini 2.5 code to test it out to see if the difference from above is significant


from scipy import stats

# Ensure there are no missing values in the columns being tested
lex_div_fake = df_fake['lexical_diversity'].dropna()
lex_div_true = df_true['lexical_diversity'].dropna()

# Perform the independent t-test
t_statistic, p_value = stats.ttest_ind(lex_div_fake, lex_div_true)

print(f"T-statistic: {t_statistic:.4f}")
print(f"P-value: {p_value:.4f}")

# Interpret the result
if p_value < 0.05:
    print("\nThe difference is statistically significant.")
else:
    print("\nThe difference is not statistically significant.")

T-statistic: -21.3468
P-value: 0.0000

The difference is statistically significant.